body {
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto Slab', serif;
  line-height: 2.5rem;
  background: #263238;
  font-size: 1.5rem;
  color: #ffffff;
  background-image: url('../assets/taimo.jpg');
  background-position: center;
}

*[onclick] {
  cursor: pointer;
}

.bar {
  display: flex;
  justify-content: space-between;
}

#header {
  width: 100%;
  margin: 0;
  margin: 1.2rem 0 0 0;
  line-height: 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
}

#header-text {
  font-size: 2.4rem;
  color: white;
}

#guide {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#footer {
  margin-bottom: 1.2rem;
  display: flex;
  color: white;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}

#footer-item {
  width: 100px;
}

#footer *{
  font-size: 1rem;
  text-decoration: none;
  margin: 0 .5rem;
  color: inherit;
}

.hidden{ 
  display: none !important;
}

.book-row{
 display:flex;
 justify-content:space-between;
}
.select2-search { color: #444 }
/* Input field */
.select2-selection__rendered {  color: #444  }
    
/* Around the search field */
.select2-search {  color: #444  }
    
/* Search field */
.select2-search input {  color: #444  }
    
/* Each result */
.select2-results {  color: #444  }
    
/* Higlighted (hover) result */
.select2-results__option--highlighted {  color: #444  }
    
/* Selected option */
.select2-results__option[aria-selected=true] {   color: #444 }